/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/

@import '~@nativescript/theme/css/core.css';
@import '~@nativescript/theme/css/default.css';

* {
    --main-blue-0: rgb(165, 255, 251);
    --main-blue-1: rgb(81, 172, 167);
    --main-grey-9: #333;
    --main-grey-10: #222;
    --main-grey-12: #111;
    --main-grey-max: #161616;
    --main-grey-7: #444;
    --main-grey-5: #666;
    --main-grey-3: #aaa;
    --main-red-5: rgb(235, 114, 114);
    --main-red-10: rgb(72, 35, 35);
    font-size:12;
}

Page, Frame, Frame,.nt-frame,
.ns-dark Page, .ns-dark Frame, .ns-dark Frame, .ns-dark .nt-frame
{
    background-color: black;
}

Page {
    padding: 10 0;
}

ActionBar, ActionBar.ns-android, ActionBar.ns-dark, ActionBar.ns-dark.nt-action-bar.ns-android, ActionBar.nt-action-bar, .nt-action-bar, .nt-action-bar.ns-dark,.nt-drawer.ns-dark .nt-drawer__header  {
    background-color: black;
    color: white;
}

StackLayout, StackLayout.ns-android, StackLayout.ns-dark {
    background-color: black;
    color: white;
}

TextField, .ns-dark TextField {
    margin: 0 15;
    border-color: var(--main-grey-5);
    border-bottom-width: 1;
}

TextField:focus, .ns-dark TextField:focus {
    border-bottom-width: 1;
    border-color: var(--main-grey-5);
}

TextView, .ns-dark TextView {
    color: white;
    border-bottom-width: 0;
}

TextView:focus, .ns-dark TextView:focus {
    border-bottom-width: 0;
}

.ns-android Switch, .ns-android .nt-switch {
    background-color: white;
    off-background-color: var(--main-grey-5);
    color: rgb(160, 160, 160);
}

.ns-android Switch[checked=true], .ns-android .nt-switch[checked=true],
.ns-android .ns-dark Switch[checked=true], .ns-android .ns-dark .nt-switch[checked=true] {

    color: rgb(255, 255, 255);
}

ActivityIndicator, .ns-dark ActivityIndicator {
    width: 40;
    max-width: 40;
    height: 40;
    max-height: 40;
    color: white;
}

ActionBar > Label, StackLayout > Label, GridLayout > TextView, TextView, TextField {
    color: white;
    placeholder-color: var(--main-grey-5);
}